.explore {
    min-height: 60vh;

    > p {
        font-size: 1.5em;
        margin-bottom: 15px;
        margin-top: 15px;

        @media (max-width: $mobile-breakpoint) {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 1.2em;
        }
    }
}
