.home{

    .hero{
        background-color: #13acca;
        background-image: url('https://www.transparenttextures.com/patterns/beige-paper.png');
        width: 100vw;
        height: 300px;
    }
}