.profile-img{
    width: 100px;
    border-radius:50% ;
    margin: 20px;
    border: 2px solid rgb(92, 61, 43);
}

.sidebar{
    background-color: #cbb9aa;
    width: 25%;
    padding: 15px;

    button{
        width: 70%;
        padding: 10px;
        margin: 6px;
    }
}

