.user-details {
    min-height: 60vh;

    .profile-header {
        position: relative;

        .profile-img {
            top: 55%;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            width: 25%;
            border-radius: 50%;
            box-shadow: 0px 0px 36px 0px #00000067;
            border: 4px solid white;
            @media (max-width: 800px) {
                box-shadow: 0px 0px 13px 0px #00000067;
            }
            @media (max-width: $mobile-breakpoint) {
                top: 45%;
                width: 30vw;
            }
        }
        .banner-img {
            width: 100%;
            max-height: 30vw;
            @media (max-width: 1300px) {
                max-height: 30vw;
            }
            @media (max-width: 1000px) {
                max-height: 28vw;
            }
            @media (max-width: $mobile-breakpoint) {
                max-height: 40vw;
            }
        }
    }

    .content {
        .sidebar {
            width: 25%;
            border-right: 1px solid rgba(0, 0, 0, 0.1);

            .socials-container {
                margin-top: 25px;
                margin-bottom: 75px;
                margin-inline-start: 10px;
                @media (max-width: $mobile-breakpoint) {
                    margin-bottom: 15px;
                }
                h4 {
                    margin-bottom: 20px;
                }
                > div {
                    margin-inline-start: 10px;
                    .social-box {
                        margin-bottom: 15px;
                        img {
                            width: 20px;
                            height: 20px;
                            margin-inline-end: 10px;
                        }
                        strong {
                            color: $clr1;
                        }
                    }
                }
            }
            a {
                color: $clr1;
            }
            ul {
                margin: 25px 0;
                list-style: circle;
                max-width: 90%;

                h4 {
                    margin-bottom: 5px;
                    font-size: 1.2em;
                }

                li {
                    margin-bottom: 10px;

                    p {
                        margin-top: 5px;
                        text-align: start;
                    }

                    @media (max-width: 1300px) {
                        font-size: 0.9em;
                    }
                }
            }

            p {
                margin-top: 30px;
                font-size: 0.8em;
                text-align: center;

                &:last-of-type {
                    margin-block-end: 15px;
                }
            }

            .border-bottom {
                width: 70%;
                margin: auto;
            }

            &.mobile {
                display: none;
                @media (max-width: 1000px) {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
            }

            @media (max-width: 1000px) {
                display: none;
            }
        }
    }

    main {
        margin-inline-start: 35px;
        width: 100%;

        .about-user {
            margin: 115px 0 20px;
            padding: 15px 10px 20px 15px;
            background-color: rgba(211, 211, 211, 0.25);
            border-radius: 0.3rem;

            @media (max-width: 800px) {
                margin: 50px 0 20px;
                padding: 15px 15px 20px 15px;
            }

            .desc-txt {
                font-size: 1.15em;
                letter-spacing: 1px;
            }

            .mobile-sidebar {
                display: none;

                nav {
                    padding-top: 50px;
                }
                @media (max-width: 1000px) {
                    display: flex;
                }
            }

            .contact-btns-mobile {
                margin-top: 8px;
                p {
                    margin-inline-end: 10px;
                    font-weight: 600;
                }
            }

            label[for="mobile-sidebar-checkbox"] {
                padding-top: 4px;
            }

            #mobile-sidebar-checkbox:checked + nav {
                display: flex;
                flex-direction: column;
                z-index: 5;
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 30%;
                background-color: white;
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                margin-block-start: 15px;
                padding-bottom: 30px;
                overflow-y: scroll;

                button {
                    padding: 10px;
                    min-height: 40px;
                }

                @media (max-width: 800px) {
                    width: 35%;
                }
                @media (max-width: $mobile-breakpoint) {
                    width: 55%;
                }
            }
        }
        .portfolio-container {
            margin-top: 75px;
            > h3 {
                font-size: 1.8em;
                opacity: 0.25;
                cursor: pointer;
                &.activeTab {
                    opacity: 1;
                }
            }
            > span {
                font-size: 1.5em;
                opacity: 0.7;
                margin-inline-start: 10px;
                margin-inline-end: 10px;
            }

            @media (max-width: $mobile-breakpoint) {
                margin-top: 50px;
                padding: 0 10px;
                h3 {
                    font-size: 1.55em;
                }
            }
        }
        .btn-group-container {
            margin-bottom: 20px;
            span.active {
                color: $clr1;
            }
        }
        .review-container {
            margin: 100px 0 0;

            h3 {
                margin-inline-end: 15px;
                font-size: 1.8em;
            }

            p {
                margin: 0 5px;
                &.rate-num {
                    padding-top: 3px;
                }
            }
            @media (max-width: $mobile-breakpoint) {
                margin: 100px 10px 0 10px;

                h3 {
                    font-size: 1.5em;
                }
            }
        }

        @media (max-width: 1000px) {
            margin-inline-start: 0;
        }
    }
}
