.app-filter {
    text-align: right;
    position: sticky;
    top: 70px;
    z-index: 5;
    background-color: #ffffffed;

    .search-bar {
        font-size: 1.1rem;
        font-family: Raleway;
        padding: 13px 20px;
        border-radius: 2rem;
        border: 2px solid $clr1;
        margin-top: 30px;
        margin-bottom: 30px;
        &:focus {
            outline: none;
        }
        @media (max-width: $narrow-breakpoint) {
            width: 90%;
        }
    }
    @media (max-width: $narrow-breakpoint) {
        text-align: center;
    }
}
