.app-filter{
    text-align: right;
    
    .search-bar{
        padding: 10px;
        border-radius: 2rem;
        border: 2px  solid lightblue;
        margin-top: 20px;
        margin-bottom: 25px;
        &:focus{
            outline: none;
        }
    }
}