.app-sorter {
    margin-bottom: 10px;
    .MuiButton-text {
        padding: 6px 0 6px 8px;
    }
    .btn-all {
        margin: 0 13px;
        transition: color 0.2s;
        &.active {
            color: $clr1;
        }
    }
    .btn-date {
        margin-inline-end: 20px;
    }
    .btn-date,
    .btn-available {
        margin-inline-start: 5px;
    }
    @media (max-width: $mobile-breakpoint) {
        justify-content: center !important;
    }
}
