.app-filter{
    text-align: right;
    
    .search-bar{
        padding: 13px 20px;
        border-radius: 2rem;
        border: 2px  solid $clr1;
        margin-top: 30px;
        margin-bottom: 30px;
        &:focus{
            outline: none;
        }
    }
}