footer {
    width: 100%;
    background-color: #d3d3d33d;
    // height: 300px;
    // background-color: rgb(243, 243, 243);
    // border-top: 1px solid #dee2e6;

    .content {
        padding: 100px 0;

        @media (max-width: 800px) {
            flex-direction: column;
            align-items: flex-start !important;
            padding-left: 10px;
            white-space: nowrap;

            section:first-child {
                margin-bottom: 2.5rem;
                h3 {
                    margin-inline-start: 10px !important;
                }
            }
            section:last-of-type {
                div {
                    flex-direction: row;

                    .link {
                        margin-inline-end: 15px;
                    }
                }
            }
        }

        section:first-child {
            h3 {
                margin-inline-start: 35px;
                margin-bottom: 5px;
                letter-spacing: 1px;
                font-weight: 400;
                // font-size: 1.5em;
                // padding-top: 6px;
            }
        }

        section:last-child {
            .profile-img {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                background-size: contain;
                background-color: lightgray;

                &.eran {
                    background-image: url("../../assets/imgs/team/eran.jpg");
                }
                &.ohad {
                    background-image: url("../../assets/imgs/team/ohad.jpg");
                }
                &.tom {
                    background-image: url("../../assets/imgs/team/tom.jpg");
                }
            }

            p {
                margin-bottom: 15px;
            }
            .link {
                margin-bottom: 15px;
                width: fit-content;
            }
            h3 {
                margin-inline-start: 10px;
            }
        }
    }
}
