footer {
    height: 300px;
    width: 100%;
    border-top: 1px solid $clr1;

    .content {
        padding: 100px 0;

        h3 {
            margin-inline-start: 35px;
            margin-bottom: 5px;
            // font-size: 1.5em;
            // padding-top: 6px;
        }
    }
}
