.item-list {
    .no-items-txt {
        margin-bottom: 50vh;
        font-size: 1.1em;
        margin-block-start: 20px;

        @media (max-width: $mobile-breakpoint) {
            margin-inline-start: 10px;
            font-size: 1em;
        }
    }
}
