.item-preview {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    height: 100%;
    max-width: 300px;

    &.min {
        width: fit-content;
        height: fit-content;

        .item-img {
            min-width: 100px;
            min-height: 100px;
            max-width: 250px;
            max-height: 250px;
            border: none;
            object-fit: cover;
        }

        &:hover {
            border: none;
        }
    }

    &:hover {
        border: 1px solid rgba(19, 172, 202, 0.7);
    }

    .item-img {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        background-color: lightgray;
    }

    .info-container {
        width: fit-content;
        margin-bottom: 10px;
        padding: 25px 15px;

        h4 {
            font-size: 1.3em;
            letter-spacing: 1px;
            margin-inline-start: 3px;
        }

        p {
            margin: 0 5px;
        }
    }

    .user-img {
        border-radius: 50%;
        height: 45px;
        width: 45px;
        margin-inline-end: 10px;
        background-color: lightgray;
    }

    h3 {
        margin: 10px 0 15px;
        font-size: 1.55em;
        letter-spacing: 1.1px;
        margin-inline-start: 20px;
    }

    .remove-btn {
        background-color: lightgray;
        border-radius: 50%;
        border: none;
        padding-right: 5px;
        padding-left: 5px;

        &:hover {
            background-color: rgb(179, 171, 171);
            color: white;
        }
    }

    .bottom-container {
        // border-top: 1px solid rgba(0, 0, 0, 0.1);

        h5 {
            padding: 15px;
            font-size: 1.25em;
        }
    }
}
