.item-preview {
    // border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    height: 100%;
    max-width: auto;
    transition: 0.1s;

    @media (max-width: $mobile-breakpoint) {
        margin-bottom: 20px;
    }

    &.min {
        // width: fit-content;
        // height: fit-content;
        max-width: fit-content;

        .item-img {
            width: 250px;
            height: 250px;
            border: none;
            object-fit: cover;

            @media (max-width: $mobile-breakpoint) {
                width: 100vw;
                height: auto;
            }
        }

        .item-info {
            h3 {
                font-weight: 400;
            }
        }
    }

    p {
        margin-bottom: 10px;
    }

    .item-img {
        width: 100%;
        margin-bottom: 5px;
        // background-color: lightgray;
    }

    .item-info {
        h3 {
            font-weight: 400;
            font-size: 1.5em;
        }

        @media (max-width: $mobile-breakpoint) {
            margin: 5px 10px;
        }
    }

    .user-name {
        width: fit-content;
        // margin-bottom: 10px;

        p {
            font-size: 1.1em;
        }
    }

    h3 {
        font-size: 1.4em;
        letter-spacing: 1.1px;
        margin-bottom: 10px;
    }

    .user-rating {
        font-size: 0.75rem;
    }

    .remove-btn {
        background-color: lightgray;
        border-radius: 50%;
        border: none;
        padding-right: 5px;
        padding-left: 5px;

        &:hover {
            background-color: rgb(179, 171, 171);
            color: white;
        }
    }
}
