.review-preview {
    margin: 35px 0;
    .reviewer-info {
        img {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            margin-inline-end: 10px;
        }
    }
}
