.review-preview {
    margin: 35px 0;

    .reviewer-info {
        width: fit-content;

        img {
            border-radius: 50%;
            height: 45px;
            width: 45px;
            margin-inline-end: 10px;
        }
    }

    .MuiRating-root {
        margin: 10px 0;
    }
}
