.user-list {
    margin-bottom: 70px;
    @media (max-width: $mobile-breakpoint) {
        margin-bottom: 50px;
    }

    .swiper-pagination-bullet-active {
        background-color: $clr6;
    }

    div.swiper-button-prev,
    div.swiper-button-next {
        color: $clr1;
    }
}
