.user-preview {
    div {
        color: white;
        position: absolute;
        bottom: 4px;
        left: 0;
        height: 35%;
        width: 102%;
        background-image: linear-gradient(to bottom, transparent 0%, black 100%);

        h3 {
            font-size: 1.3em;
            margin: 0 0 16px 20px;
            letter-spacing: 1.1px;
        }
    }

    img {
        height: 280px;
        width: 220px;
        object-fit: cover;
        // opacity: 0.9; ??
    }
}
