.user-list {
    margin-bottom: 100px;

    .swiper-pagination-bullet-active {
        background-color: $clr3;
    }

    div.swiper-button-prev,
    div.swiper-button-next {
        color: $clr1;
    }
}
