* {
    box-sizing: border-box;
    margin: 0;

    body {
        font-family: Montserrat;
        scroll-behavior: smooth;
        overflow-x: hidden;
        
        h1,h2,h3,h4,h5,h6{
            font-family: Yanone;
            
        }

        button {
            cursor: pointer;
        }

        input,
        textarea {
            caret-color: $clr1;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        textarea {
            resize: none;
        }
    }
}
