* {
    box-sizing: border-box;
    margin: 0;

    body {
        font-family: Yanone;
        scroll-behavior: smooth;
        overflow-x: hidden;

        button {
            cursor: pointer;
        }

        input {
            caret-color: red;
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}
