.swal-overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

.swal-modal {
    font-family: Yanone;
    background-color: rgb(255, 255, 255);
    border: 6px solid rgb(235, 235, 235);
}

.swal {
    h1 {
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 5px;
        font-size: 1.1em;
    }

    .swal-button {
        border-radius: 2px;
        background-color: $clr3;
        &:hover {
            background-color: $clr1; 
        }
    }
    &-title {
        font-size: 1.9rem;
    }
    &-text {
        font-size: 1.4rem;
    }
}



.swal-button {
    border-radius: 2px;
    background-color: $clr3;
    &:hover {
        background-color: $clr1 !important; 
    }
}