.swal-overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

.swal-modal {
    font-family: Yanone;
    background-color: rgb(255, 255, 255);
    // border: 1px solid rgb(255, 255, 255);
}

.swal {
    h1 {
        color: rgb(61, 61, 61);
        margin-bottom: 1.3rem;
    }
    p {
        color: rgb(61, 61, 61);
        margin-bottom: 1em;
        font-size: 1.25em;
    }

    .swal-button {
        border-radius: 2px;
        background-color: $clr1;
        &:hover {
            background-color: $clr3; 
        }
    }
    &-title {
        font-size: 1.9rem;
    }
    &-text {
        font-size: 1.25rem;
    }
}



.swal-button {
    border-radius: 2px;
    background-color: $clr1;
    &:hover {
        background-color: $clr3 !important; 
    }
}