// Colors
$clr1: #13acca;
$clr2: #3f51bc;
$clr3: #c51162;
$clr4: #58c93a;
$clr5: #5dade2;
$clr6: #d90007;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
